@import "tailwindcss";

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --color-primary : #00a495;
  --color-white-grey : #f5f5f5;
  --color-light-grey : #f5f6f8;
  --color-hover-light-grey: #e1e2e5;
  --color-grey : #e5e5e5;
  --color-deep-grey : #959595;
  --color-light-black : #203354;
  --color-black : #000000;
  --color-white : #ffffff;


}

body {
  font-family: 'Pretendard', sans-serif;
}